body
{font-size:20px;
    height:100%;
    box-sizing: 15px;}
.register
{
box-shadow: inset;
box-sizing: border-box;
float: right;
font-size: 30px;
}

.top
{display:100%;
    justify-content:space-between}

.menu_items
{margin:30px 0 0 5px}

.menu_link
{color:#000;margin-left:20px}

.menu_link:active
{color:black;}

.full_screen
{min-height:100vh}

.logo

{padding-top:2px}

.mw
{max-width:120px;
size: 40px;}

.t-50
{font-size:60px}

.t-15
{font-size:20px}

.col-
{color:white;}

img
{max-width:60%}

.img-fluid{
    float: left;
    size:60px;
}

.image{size:100%}

.certificate
{
    border-image: auto;
    size: 100%;
}

.card-body 
{
 box-sizing: unset;
 background-color: white;
 box-sizing: 100%;
 border-image: space;
} 
.primary-button
{primary-color:black;gradient-color:linear-gradient(90deg,black 0.t-15%,lightgreen 100%);border:1px solid,lightgreen;box-sizing:border-box;font-size:20px;padding-left:20px;padding-right:20px;background:lightgreen;color:#fff;transition:.5s}

.primary-button:hover
{background:#fff;color:#000;box-shadow:0 1px 8px #ccc}.services-area{padding:7rem 2rem}.services-area .services-title{padding:0 14rem}

.services-area .services-title h1{}

.services-area .services
{background:white ;transition:box-shadow .7s ease; background-origin:20%;border-radius: 0fr; box-sizing: 50%;border-style: solid; float:right;height:42; width:42"}

.services-area .services:hover
{ color:white }

.owl-item
{text-align:center}

.testimonial
{padding:1% 5%;transition:box-shadow .7s ease}

.testimonial:hover
{box-shadow:1px 1px 8px black;}

.fa-facebook
{color:black;
}

.fa-twitter
{color:black;}

.fa-instagram
{color:black;}

.footer
{height:auto;
    padding:50px 0;
    background-color:black;}@media only screen and (max-width:700px);

{
    
    body
    {
        font-size:15px}
        .services-area .services{margin:1rem 0}
        .footer{margin-top:15px}
        .mw{max-width:50%;margin:0 auto}
    }
    
    
    .header_area .main-menu .navbar .navbar-brand
    {padding:0 2rem 0 5rem}
    
    .header_area .main-menu .navbar
    {padding:1rem 20rem}
    
    .header_area .main-menu .nav-item .nav-link
    {font:normal 500 15px/2px var(--roboto);
        text-transform:uppercase;
        padding:1.7rem;
        color:var(--title-color)}
    
    .header_area .main-menu .navbar-nav .active a
    {background:var(--gradient-color);
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
        background-clip:text}
    
    .header_area .main-menu .navbar-nav a:hover{
        background:var(--gradient-color);
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
        background-clip:text}